@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GeistVF;
  src: url(./fonts/GeistVF.woff);
}

* {
  font-family: GeistVF;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
