@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GeistVF;
  src: url(./fonts/GeistVF.woff);
}

* {
  font-family: GeistVF;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.dark {
  @apply bg-gray-900 text-white;
}

.dark .bg-white {
  @apply bg-gray-800;
}

.dark .text-gray-600 {
  @apply text-gray-300;
}

.dark .text-purple-800 {
  @apply text-purple-300;
}